[submodule "rossdahlke.github.io"]
	path = rossdahlke.github.io
	url = https://github.com/rossdahlke/rossdahlke.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:rossdahlke.github.io.git
	branch = master
